@import "../../styles/variables.module.css";

:root {
  --option-color: #333;
  --option-bg: #aaa;
  --option-border-color: #2a2a2a;
  --option-border-color-hover: #555;

  --option-color-active: #4ade80;
  --option-background: #0f1f14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --option-color: #ccc;
    --option-bg: #111;
    --option-border-color: #2a2a2a;
    --option-border-color-hover: #555;

    --option-color-active: #4ade80;
    --option-background: #0f1f14;
  }
}

html[data-theme="light"] {
  --option-color: #333;
  --option-bg: #aaa;
  --option-border-color: #2a2a2a;
  --option-border-color-hover: #555;

  --option-color-active: #2a2a2a;
  --option-background: #afaf14;
}

html[data-theme="dark"] {
  --option-color: #ccc;
  --option-bg: #111;
  --option-border-color: #2a2a2a;
  --option-border-color-hover: #555;

  --option-color-active: #4ade80;
  --option-background: #0f1f14;
}

.optionsList {
  display: flex;
  margin-inline: 16px;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.option {
  flex: 1;
  border: 2px solid var(--option-border-color);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--option-bg);
  color: var(--option-color);
  padding: 20;
}

.option a {
  text-decoration: none;
  text-align: center;
  color: var(--option-color);
}

.option a:hover {
  outline: 1px solid red;
  text-align: center;
  color: var(--option-color);
}

.option:hover {
  border-color: var(--option-border-color-hover);
  transform: translateY(-2px);
}

.active {
  border-color: var(--option-color-active);
  background: var(--option-background);
  color: var(--option-color-active);
}

.switch {
  position: relative;
  width: 80px;
  height: 36px;
  background: #222;
  border-radius: 999px;
  cursor: pointer;
}

.knob {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: var(--option-color-active);
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.cli .knob {
  transform: translateX(44px);
}
