@import "../styles/globals.css";

.whole-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.gui-bg-wrapper {
  background-color: var(--color-border);
}

.tui-bg-wrapper {
  background-color: darkblue;
}
